terminaltables
six
addict
numba  
tqdm
pyquaternion          
nuscenes-devkit
einops    
nvtx      
onnx
onnxruntime-gpu
# spconv-cu118         
# tensorrt==8.5.1.7                                                                   